.footer {
    display: flex;
    width: stretch;
}

.footerCard {
    display: flex;
    flex-direction: column;
    width: stretch;
    padding: 24px;
}

.footerButtons {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 599px) {
        flex-direction: column;
        align-items: start;
        gap: 12px;
    };
}